<!-- footer.html -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" crossorigin="anonymous"></script>
<script th:src="@{/scripts/scripts.js}"></script>

<div th:fragment="footer" class="footer bg-default text-white text-center mt-20">
    <div class="container">
        <p class="mb-0">Asset Management System, By Lenhac Limited &copy; 2023-2028</p>
    </div>
</div>
