<!-- menu.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-default" th:fragment="menu">
    <div class="container d-flex justify-content-between">
        <div>
            <a class="navbar-brand" href="#">
                <img src="/images/lenhac-logo-reverse-white.png" alt="Logo" width="200">
            </a>
        </div>
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/new">New Asset</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Assets</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
