/* searchbar */
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}







/* Apply Molengo font to the header and organization name */
h3, h4 {
    font-family: 'Molengo', sans-serif;
}

/* Apply Lekton font to the "Not your store?" text */
.small-text {
    font-family: 'Lekton', sans-serif;
}
.bg-default {
    background-color: #334B5C;
    color: white !important;
}
/* style.css */
.button-bg {
    background-color: #334B5C !important;
    color: white !important;
}

/*.button-login {*/
/*    background-color: #e84444; !* Changed to the specific shade of red *!*/
/*}*/
/*.btn-primary:hover {*/
/*    background-color: #334b5c;*/
/*    border-color: #ffffff;*/
/*}*/
.search-container {
    margin: 10px;
}

.input-group {
    margin-bottom: 10px;
}

/*.form-control {*/
/*    border-radius: 5px !important;*/
/*    margin-right: 10px;*/
/*}*/

.search-input:last-child {
    margin-right: 0 !important;
}

.rounded-left {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
#department {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin-right: 0;
}

#search-button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    background-color: red;
}

.update-button {
    margin-bottom: 10px !important;
}

/* Additional CSS for the image column */
.img-column {
    height: 100%;
    padding: 0;
}

/* CSS for the login button */
/*.login-button {*/
/*    float: right;*/
/*}*/

.footer {
    margin-top: 10px;
    padding: 20px;
}
