<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Asset Details</title>
  <!-- Add any additional CSS or JavaScript files -->
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/bootstrap :: bootstrap}"></div>
<div th:insert="~{fragments/menu :: menu}"></div>
<main class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h5 style="color: red">Asset Details</h5>
    </div>
    <div class="col-md-6 text-right">
      <a th:href="@{/{id}(id=${asset.id})}" class="btn btn-primary update-button">Update</a>
    </div>
  </div>

  <form class="border p-4 bg-light">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" th:value="${asset.name}" readonly>
      </div>
      <div class="form-group col-md-6">
        <label for="type">Type:</label>
        <input type="text" class="form-control" id="type" th:value="${asset.type}" readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="user">Assigned To:</label>
        <input type="text" class="form-control" id="user" th:value="${asset.user}" readonly>
      </div>
      <div class="form-group col-md-6">
        <label for="supplier">Supplier:</label>
        <input type="text" class="form-control" id="supplier" th:value="${asset.supplier}" readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="model">Model:</label>
        <input type="text" class="form-control" id="model" th:value="${asset.model}" readonly>
      </div>
      <div class="form-group col-md-6">
        <label for="make">Make:</label>
        <input type="text" class="form-control" id="make" th:value="${asset.make}" readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="purchaseDate">Date of Purchase:</label>
        <input type="text" class="form-control" id="purchaseDate" th:value="${asset.purchaseDate}" readonly>
      </div>
      <div class="form-group col-md-4">
        <label for="shelfLife">Shelf Life (in years):</label>
        <input type="text" class="form-control" id="shelfLife" th:value="${asset.shelfLife}" readonly>
      </div>
      <div class="form-group col-md-4">
        <label for="value">Value (Kes):</label>
        <input type="text" class="form-control" id="value" th:value="${asset.value}" readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="notes">Notes:</label>
        <textarea class="form-control" id="notes" readonly th:text="${asset.notes}"></textarea>
      </div>
    </div>
  </form>
</main>
</body>
<div th:insert="~{fragments/footer :: footer}"></div>
</html>
