<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Welcome to Asset Management</title>
    <!-- Add any additional CSS or JavaScript files -->

</head>
<div th:insert="~{fragments/bootstrap :: bootstrap}"></div>
<!--<div th:insert="~{fragments/menu :: menu}"></div>-->
<body class="bg-default">

<div class="container mt-5">
    <div class="row justify-content-center"> <!-- Add justify-content-center class here -->
        <!-- Form Column -->
        <div class="col-md-6">
            <h3 class="mb-4 text-white">Enterprise Resource Planning System (Lenhac)</h3>
            <div class="d-flex justify-content-between mb-2"> <!-- Use d-flex and justify-content-between classes -->
                <h4 class="mb-0 text-white">Lenhac</h4> <!-- Replace "Lenhac" with the actual organization name -->
                <p class="small-text mb-0 text-danger">Not your store?</p>
            </div>
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password">
                        </div>
                        <div class="d-flex justify-content-between mb-3"> <!-- Add this d-flex container -->
                            <a href="#" class="small-text">Forgot password</a>
                            <button type="submit" class="btn btn-danger">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Image Column -->
        <!-- Image Column -->
        <div class="col-md-6 d-flex align-items-stretch"> <!-- Add the "img-column" class here -->
            <img src="/images/login2-01.png" alt="Image" class="img-fluid"> <!-- Add "h-100" class here to make the image the same height -->
        </div>
    </div>
</div>

<!-- Bootstrap JS and jQuery links for optional functionality -->

</body>
<div th:insert="~{fragments/footer :: footer}"></div>
</html>
