<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Add Category</title>
    <!-- Add any additional CSS or JavaScript files -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/bootstrap :: bootstrap}"></div>
<div th:insert="~{fragments/menu :: menu}"></div>
<main class="container mt-5">

<!--    <div class="row">-->
<!--        <div th:if="${message}" class="alert alert-success">-->
<!--            <p th:text="${message}"></p>-->
<!--        </div>-->

<!--        <div th:if="${error}" class="alert alert-danger">-->
<!--            <p th:text="${error}"></p>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row">
        <div class="col-md-6">
            <h5 style="color: red">Add Category</h5>
        </div>
<!--        <div class="col-md-6 d-flex justify-content-end">-->
<!--            <a th:href="" class="btn btn-primary update-button">-->
<!--                <i class="fas fa-edit"></i>-->
<!--            </a>-->
<!--            <a class="btn update-button btn-danger " href="/new">-->
<!--                <i class="fas fa-plus"></i>-->
<!--            </a>-->
<!--        </div>-->
    </div>


    <form class="border p-4 bg-light">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cat_name">Name:</label>
                <input type="text" class="form-control" id="cat_name">
            </div>
            <div class="form-group col-md-6">
                <label for="sub_category">Parent Category:</label>
                <select class="form-control" id="sub_category">
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-primary">Submit</button>
    </form>

</main>
</body>
<div th:insert="~{fragments/footer :: footer}"></div>
</html>
